@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 800px;
$desktop: 1024px;

// Colores
$negro: #000000;
$amarillo: #E08709;;
$verde: #71B100;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$grisOscuro: #333333;

$separacion: 5rem;

// Fuentes
$superDelgada: 200;
$delgada: 300;
$regular : 400;
$mediana: 500;
$negrita: 600;
$supernegrita: 800;
